#app {
  display: flex;
  height: 100%;
  max-height: 100vh;
  position: relative;
}

a {
  color: #617e9b;
  text-decoration-style: dotted;
}

ul {
  list-style-type: '🛰';
  max-height: calc(100vh - 195px);
  overflow-y: auto;

  & a {
    margin-left: 5px;
  }
}

li {
  padding-left: 5px;
}

button {
  border-style: none;
  background-color: #fbfbfb;
  font-weight: 700;
}

button:hover:not([disabled]) {
  cursor: pointer;
  box-shadow: 1px 1px 2px #fff;
}

button[disabled] {
  font-weight: 400;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: #fff;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Helvetica Neue', Arial, sans-serif;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
